/* RECIPE CONTENT */
.ulist-content li,
.olist-content li,
.recipe {
  font-family: Arial, Helvetica, sans-serif;
}

.recipe {
  display: flex;
  flex-direction: column;
  padding: 0px 80px 0px;
  width: 65rem;
  text-align: justify;
  line-height: 2rem;
}

/* HEADINGS AND IMAGES */
h2.headings,
h1.headings {
  display: flex;
  flex: 1;
  justify-content: center;

  font-family: "Courier New", Courier, monospace;
  align-self: center;
  width: 30rem;
  text-align: center;
}

h2.headings {
  align-self: flex-start;
  justify-content: flex-start;
  text-align: left;
}

.body-image {
  display: flex;
  align-self: center;

  border-radius: 10%;
  width: 30%;
}

/* LIST STYLES */
.ulist-content li {
  margin-bottom: 5px;
  list-style-type: square;
}

.olist-content ul {
  align-self: flex-start;
  padding: 0;
  margin: 0;
}

.olist-content li {
  margin-bottom: 15px;
}

@media screen and (max-width: 900px) {
  .recipe {
    padding: 0px 3em 0px;
    max-width: 28rem;
    text-align: justify;
    line-height: 1.5rem;
  }

  /* HEADINGS AND IMAGES */
  h2.headings,
  h1.headings {
    width: 26rem;
    font-size: 1.7rem;
  }

  h2.headings {
    font-size: 1.5rem;
    margin-bottom: 0;
  }

  .body-image {
    display: flex;
    align-self: center;

    border-radius: 10%;
    width: 15rem;
  }
}
