body {
  background-color: whitesmoke;
}

/* CENTER */
.center {
  color: gray;
  text-align: center;
  position: relative;
}

.centerx {
  margin: auto;
  width: 50%;

  color: white;
  font-weight: bolder;
  font-size: 50px;
  text-align: center;

  position: relative;
}

.center2 {
  text-align: center;
  position: relative;
}

.center a {
  text-decoration: none;
}

.center a:hover {
  color: rgb(163, 163, 163)
}

/* LOGO */
.logo {
  opacity: 1;
  width: 20%;
  text-decoration: none;
  margin-bottom: 20px;
}

a:hover.logo {
  opacity: 0.8;
}

/* ODIN RECIPES */
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 10%);
}

.first_line {
  font-size: 50px;
  font-family: 'Courier New', Courier, monospace;
  margin-bottom: 0;
}

.second_line {
  font-size: 27px;
  font-family: 'Courier New', Courier, monospace;
  margin-top: 0;
}

/* IMAGES */
.images {
  width: 20%;
  border-radius: 10%;
  image-rendering: crisp-edges;
}

.image {
  width: 30%;
  border-radius: 10%;
  image-rendering: crisp-edges;
}

.socials {
  width: 3%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.socials:hover {
  opacity: 0.7;
}