/* body {
  border: 2px solid red;
}

nav {
  border: 2px dashed orange;
}

ol {
  border: 2px dotted teal;
}

ul {
  border: 2px dotted aqua;
}

img {
  border: 2px solid hotpink;
}

a {
  border: 2px solid purple;
}

div {
  border: 2px solid blue;
}

p {
  border: 2px solid green;
}

h1 {
  border: 2px solid black;
}

h2 {
  border: 2px solid pink;
}

li {
  border: 2px solid burlywood;
} */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;

  background-color: whitesmoke;
}

a {
  text-decoration: none;
}

/* ODIN LOGO */
.odin-logo-cntr {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* background-color: red; */
  padding: 2% 0% 0%;
}

.odin-logo {
  width: 85%;
}

.odin-logo-cntr a {
  color: gray;
  font-family: 'Courier New', Courier, monospace;
}

.odin-logo-cntr a:hover {
  color: rgb(163, 163, 163);
}

.first_line {
  margin-top: -115%;
  font-size: 50px;
  margin-bottom: 0;
}

.second_line {
  margin-top: -115%;
  font-size: 27px;
  margin-top: 0;
}

/* IMAGES */
.images {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  width: 35rem;
}

.image {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* background-color: blue; */
  width: 14rem;
  padding: 20px 0 0;
  margin: 0;
}

.image img {
  width: 13rem;
  border-radius: 10%;
}

.image .image3 {
  width: 17rem;
}

/* SOCIALS */
.socials {
  width: 3rem;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
}

.socials:hover {
  opacity: 0.7;
}
