/* body {
  border: 2px solid red;
}

nav {
  border: 2px dashed orange;
}

ol {
  border: 2px dotted teal;
}

ul {
  border: 2px dotted aqua;
}

img {
  border: 2px solid hotpink;
}

a {
  border: 2px solid purple;
}

div {
  border: 2px solid blue;
}

p {
  border: 2px solid green;
}

h1 {
  border: 2px solid black;
}

h2 {
  border: 2px solid pink;
}

li {
  border: 2px solid burlywood;
}

body {
  background-color: whitesmoke;
} */

/* CENTER */
.center,
.centerx,
.center2 {
  text-align: center;
  position: relative;
}

.center {
  color: gray;
}

.centerx {
  margin: auto;
  width: 50%;

  color: white;
  font-weight: bolder;
  font-size: 50px;
}

.center a {
  text-decoration: none;
}

.center a:hover {
  color: rgb(163, 163, 163)
}

/* LOGO */
.logo {
  opacity: 1;
  width: 20%;
  text-decoration: none;
  margin-bottom: 20px;
}

a:hover.logo {
  opacity: 0.8;
}

/* ODIN RECIPES */
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 10%);
}

.first_line,
.second_line {
  font-family: 'Courier New', Courier, monospace;
}

.first_line {
  font-size: 50px;
  margin-bottom: 0;
}

.second_line {
  font-size: 27px;
  margin-top: 0;
}

/* IMAGES */
.image,
.images {
  border-radius: 10%;
  image-rendering: crisp-edges;
}

.images {
  width: 20%;
}

.image {
  width: 30%;
}

/* SOCIALS */
.socials {
  width: 3%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.socials:hover {
  opacity: 0.7;
}