/* NAVIGATION */
.navbar {
  margin: auto;
  width: 50%;
  text-align: center;
  position: sticky;

  padding: 30px;
}

.navitem {
  display: inline-block;
  padding: 20px;

  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;

  background-color: gray;
  border-radius: 10px;
}

.navitem a {
  color: white;
  text-decoration: none;
}

.navimg {
  background-color: gray;
  padding: 20px;
  border-radius: 10px;
  text-decoration: none;
  margin-right: 5px;
  width: 20%;
}

.navbar a:hover,
.navitem:hover {
  opacity: 0.9;
}

/* DROPDOWN MENU */
.dropdown {
  /* overflow: hidden;
  transform: translateY(25px); */
  position: relative;
}

.dropdown-content {
  position: absolute;
  top: 100%;
  left: -7%;

  display: none;

  text-align: center;
  width: 78px;
  padding: 5px;

  /* background-color: gray; */
  border-radius: 10px;
}

.dropdown-content a {
  float: none;
  margin-bottom: 2px;
  display: block;
  text-align: center;
  border-radius: 2px;
}

.dropdown-content a:hover {
  opacity: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
  text-align: center;
}

.dropdown-content .dropdown-image {
  width: 90px;
  border-radius: 10px;
}

.back-top {
  position: fixed;
  bottom: 15px;
  right: 15px;
  color: white;
}

.back-top a {
  color:white;
  text-decoration: none;
}

.back-top a:hover {
  opacity: 0.9;
}