/* NAVIGATION */
.navitem,
.navimg {
  background-color: gray;
  border-radius: 10px;
}

.navbar,
.dropdown-content,
.dropdown-content a,
.dropdown:hover .dropdown-content {
  text-align: center;
}

.navbar {
  margin: auto;
  width: 50%;
  position: sticky;

  padding: 30px;
}

.navitem {
  display: inline-block;
  padding: 20px;

  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}

.navitem a {
  color: white;
  text-decoration: none;
}

.navimg {
  padding: 20px;
  text-decoration: none;
  margin-right: 5px;
  width: 20%;
}

.navbar a:hover,
.navitem:hover {
  opacity: 0.9;
}

/* DROPDOWN MENU */
.dropdown {
  position: relative;
}

.dropdown-content,
.dropdown-content .dropdown-image {
  border-radius: 10px;
}

.dropdown-content a,
.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content {
  display: none;

  position: absolute;
  top: 100%;
  left: -7%;

  width: 78px;
  padding: 5px;
}

.dropdown-content a {
  float: none;
  margin-bottom: 2px;
  border-radius: 2px;
  display: inline-block;
}

.dropdown-content a:hover {
  opacity: 1;
}

.dropdown-image {
  display: inline-block;
}

.dropdown-content .dropdown-image {
  width: 90px;
}

/* BACK TO TOP BUTTON */
.back-top,
.back-top a {
  color: white;
}

.back-top {
  position: fixed;
  bottom: 15px;
  right: 15px;
}

.back-top a {
  text-decoration: none;
}

.back-top a:hover {
  opacity: 0.9;
}