.navigation {
  /* overflow: hidden; */
  margin: auto;
  padding: 50px;
  width: 50%;
  background-color: blue;
  text-align: center;
}

.navigation ul {
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}

.navigation li {
  display: inline-block;
  margin-left: 10px;
}

.navigation a {
  text-decoration: none;
  background: gray;
  color: white;
  padding: 30px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.navigation a:hover {
  opacity: 0.9;
  color: whitesmoke;
}

/* Navbar container */
.navbar {
  margin: auto;
  padding: 50px;
  width: 50%;
  background-color: blue;
  text-align: center;
  /* overflow: hidden;
  background-color: #333;
  font-family: Arial;
  text-align: center; */
}

/* Links inside the navbar */
.navbar a {
  text-decoration: none;
  background: gray;
  color: white;
  padding: 30px;
  /* border-radius: 10px; */
  /* margin-bottom: 20px; */
}

/* The dropdown container */
.dropdown {
  float: right;
  background-color: red;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbutton {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  text-transform: uppercase;
  font-size: medium;

  padding: 30px;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: gray;

  /* Important for vertical align on mobile phones */
  margin: 0;
  /* Important for vertical align on mobile phones */
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  text-align: center;
  display: none;
  position: absolute;
  background-color: whitesmoke;
  width: 60%;
  /* box-shadow: rgba(0, 0, 0, 0.2); */
  /* z-index: 1; */
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  text-decoration: none;
  display: block;
  text-align: center;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.navlogo {
  text-decoration: none;
  font-weight: bold;
  background-color: inherit;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a:hover.navlogo {
  opacity: 0.9;
}