<div class="image">
  <a href="./recipes/bread-and-eggs.html">
    <!-- "https://images.unsplash.com/photo-1525351484163-7529414344d8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80" -->
    <img
      src="{{ srcImage }}"
      alt="{{ altText }}"
      *ngIf="altText !== 'Link to Boiled Eggs Recipe'"
    />
    <img
      class="image3"
      src="{{ srcImage }}"
      alt="{{ altText }}"
      *ngIf="altText === 'Link to Boiled Eggs Recipe'"
    />
  </a>
</div>
