.image {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* background-color: blue; */
  width: 14rem;
  padding: 20px 0 0;
  margin: 0;
}

.image img {
  width: 13rem;
  border-radius: 10%;
}

.image .image3 {
  width: 17rem;
}
