<div class="recipe">
  <h1 class="headings">{{ recipe.title }}</h1>
  <!-- <img
    class="body-image"
    src="https://images.unsplash.com/photo-1525351484163-7529414344d8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80"
    alt="Eggs and Bread"
  /> -->

  <h2 class="headings">Description</h2>
  <p>
    {{ recipe.description }}
  </p>

  <h2 class="headings">Ingredients</h2>
  <ul class="ulist-content">
    <li *ngFor="let ing of recipe.ingredients">{{ ing }}</li>
  </ul>

  <h2 class="headings">Steps</h2>
  <ol class="olist-content">
    <li *ngFor="let step of recipe.steps">
      {{ step }}
    </li>
  </ol>
</div>
