<a id="#top"></a>
<app-navbar></app-navbar>

<div class="recipe" *ngIf="recipe">
  <h1 class="headings">{{ recipe.title }}</h1>
  <img
    class="body-image"
    src="{{ recipe.imageLink.srcImage }}"
    alt="{{ recipe.imageLink.altText }}"
  />

  <h2 class="headings">Description</h2>
  <p *ngFor="let desc of recipe.description">
    {{ desc }}
  </p>

  <h2 class="headings">Ingredients</h2>
  <ul class="ulist-content">
    <li *ngFor="let ing of recipe.ingredients">{{ ing }}</li>
  </ul>

  <h2 class="headings">Steps</h2>
  <ol class="olist-content">
    <li *ngFor="let step of recipe.steps">
      {{ step }}
    </li>
  </ol>

  <app-backtop></app-backtop>
  <app-credits></app-credits>
  <app-social-footer></app-social-footer>
</div>
