<nav class="navbar">
  <a onclick="history.back()">
    <div class="navitem">
      <img src="../../assets/images/back.png" alt="Back button" width="14" />
    </div>
  </a>

  <a class="navimg" href="https://www.theodinproject.com">
    <img
      src="https://www.theodinproject.com/mstile-310x310.png"
      alt="The Odin Project's logo, links to The Odin Project website"
    />
  </a>

  <div class="navitem">
    <a routerLink="/">home</a>
  </div>

  <div class="navitem dropdown">
    <a>More</a>
    <div class="dropdown-content">
      <app-navdd
        *ngFor="let recipe of recipes"
        [imageLink]="recipe.imageLink"
      ></app-navdd>
    </div>
  </div>
</nav>
